.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
premake5.exe
out/
Dependencies/GLEW/out/
Dependencies/GLFW/out/
Dependencies/imGUI/out/
Dependencies/spdlog/out/
*.ini
premake5
.build-debug/
.build-release/
.codelite/
*.mk
*.project
Dependencies/GLEW/GLEW.txt
Dependencies/GLFW/GLFW.txt
Dependencies/imGUI/imGUI.txt
Dependencies/spdlog/spdlog.txt
Makefile
Sandbox/Sandbox.txt
*.workspace
build.bat
clear.bat



